/DatasetCreator/out
/Configs/model.ckpt.meta
/Configs/model.ckpt.data-00000-of-00001
/Configs/model.ckpt.index
/DatasetCreator/__pycache__
/Frontend/package-lock.json
/DetectionComponentsAPI/tmp
/DatasetCreator/prueba.jpg
/DatasetCreator/*.bak
/DetectionComponentsAPI/.vscode
/Configs/modelOrigin
/DetectionComponentsAPI/frozen_inference_graph.pb
/Configs/faster_rcnn_inception_v2.config
/Configs/rfcn_resnet101.config_old
/Configs/ssd_mobilenet_win.config
